<md-toolbar>
    <div class="md-toolbar-tools" ng-hide="showMenuDiv">
        <md-button class="md-icon-button" aria-label="Icon">
            <md-tooltip>Home</md-tooltip>
            <img src="img/logo.png"/>
        </md-button>
        <h2>
            <span>Mockup</span>
        </h2>
        <span flex></span>
        <h2>
            <span>Client Project Name</span>
        </h2>
        <span flex></span>
        <md-button class="md-fab md-mini" show-gt-sm hide-sm>
            <md-tooltip>Favourite</md-tooltip>
            <md-icon class="md-default-theme" md-svg-icon="img/icons/ic_favorite_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" show-gt-sm hide-sm>
            <md-tooltip>New Projects</md-tooltip>
            <md-icon class="md-default-theme" md-svg-icon="img/icons/ic_add_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini" hide-gt-sm show-sm ng-click="showMenuDiv = true">
            <md-tooltip>Menu</md-tooltip>
            <md-icon class="md-default-theme" md-svg-icon="img/icons/ic_menu_24px.svg"></md-icon>
        </md-button>
    </div>
    <div layout="row" class="md-toolbar-tools" show-sm show-md hide-gt-md ng-show="showMenuDiv">
        <span flex></span>
        <md-button class="md-fab md-mini">
            <md-tooltip>Favourite</md-tooltip>
            <md-icon class="md-default-theme" md-svg-icon="img/icons/ic_favorite_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini">
            <md-tooltip>New Projects</md-tooltip>
            <md-icon class="md-default-theme" md-svg-icon="img/icons/ic_add_24px.svg"></md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="showMenuDiv = false">
            <md-tooltip>Menu</md-tooltip>
            <md-icon class="md-default-theme" md-svg-icon="img/icons/ic_cancel_24px.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>