<md-content layout="row" layout-wrap>
    <div flex-xs="100" flex-sm="50" flex-md="33" flex="25" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
        <md-card>
            <!--<md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>-->
            <div class="Landing-featuresEntry Landing-featuresEntry--restful">
                <md-icon md-svg-src="/img/icons/restful-api.svg" class="Landing-featuresEntry-icon"></md-icon>
            </div>
            <div class="md-headline Landing-featuresTitle">RESTful API</div>
            <div class="md-subhead Landing-featuresDescription">Build consistent REST APIs and call them fluently
                using JavaScript, without having to worry about validation errors</div>
        </md-card>
    </div>
</md-content>
